* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  box-shadow: 0px 5px 30px black;
}
.navbar-brand {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand:hover {
  color: black;
}
.nav-link {
  font-size: 1.1rem;
  font-variant: small-caps;
  color: black !important;
  font-weight: 600;
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

#status {
  min-height: 80vh;
  background: url(./assets/coronavirus1.png);
  background-size: cover;
  background-repeat: repeat;
  padding-top: 50px;
}

table tr th {
  vertical-align: middle !important;
}

#aboutCorona {
  min-height: 100vh;
  background: url(./assets/coronavirus2.png);
  background-size: cover;
}
.about-intro {
  color: rgb(63, 132, 235);
}

.info {
  background-color: #f8f9faef;
  border-radius: 5px;
  box-shadow: 0px 2px 12px black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 35px;
}

.error {
  animation: error 1s infinite;
}
@keyframes error {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
